Gimpsep.sln
Gimpsep.vcxproj
Gimpsep.x64
.db
.db-shm
.sb-wal
.opendb
.ipch
.Layout
.filters
.recipe
.ilk
.log
.tlog
.obj
.vs/Gimpsep/v17/.suo
.vs/Gimpsep/v17/Browse.VC.db
.vs/Gimpsep/v17/Browse.VC.db-shm
.vs/Gimpsep/v17/Browse.VC.db-wal
.vs/Gimpsep/v17/Browse.VC.opendb
.vs/Gimpsep/v17/ipch/AutoPCH/5dc7f575c5f32287/ROTATE_VIDEO_STUDENTS.ipch
.vs/Gimpsep/v17/ipch/AutoPCH/b55b75de6b74bf75/MAIN.ipch
.vs/Gimpsep/v17/ipch/AutoPCH/ba437642394071f6/ROTATE_VIDEO_STUDENTS.ipch
Gimpsep.sln.Layout
Gimpsep/Gimpsep.vcxproj.filters
Gimpsep/Gimpsep.vcxproj.Layout
Gimpsep/x64/Debug/Gimpsep.exe.recipe
Gimpsep/x64/Debug/Gimpsep.ilk
Gimpsep/x64/Debug/Gimpsep.log
Gimpsep/x64/Debug/Gimpsep.tlog/CL.command.1.tlog
Gimpsep/x64/Debug/Gimpsep.tlog/CL.read.1.tlog
Gimpsep/x64/Debug/Gimpsep.tlog/CL.write.1.tlog
Gimpsep/x64/Debug/Gimpsep.tlog/Gimpsep.lastbuildstate
Gimpsep/x64/Debug/Gimpsep.tlog/link.command.1.tlog
Gimpsep/x64/Debug/Gimpsep.tlog/link.read.1.tlog
Gimpsep/x64/Debug/Gimpsep.tlog/link.write.1.tlog
Gimpsep/x64/Debug/rotate_video_students.obj
Gimpsep.sln.Layout
Gimpsep/Gimpsep.vcxproj.filters
Gimpsep/Gimpsep.vcxproj.Layout
Gimpsep/x64/Debug/rotate_video_students.obj
Gimpsep.sln.Layout
Gimpsep/Gimpsep.vcxproj.filters
Gimpsep/Gimpsep.vcxproj.Layout
Gimpsep/x64/Debug/rotate_video_students.obj

.vs/Gimpsep/v17/ipch/AutoPCH/ec159e9999ee0e9c/ROTATE_VIDEO_STUDENTS.ipch
